<!doctype html>
<html>

<head>
  <title>PKF Vending Machine</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <div class="col-sm-6">
      <div class="jumbotron text-center">
        <h1>Phat Kid Fantasy Vending</h1>
        <img src="img/vending.jpg" alt="Coffee">
        <h5>Created by: KMedinaTheDev</h5>
      </div>
    </div>

    <div class="col-sm-6">
      <h4>*Click On The Item Number To Select An Item*</h4>

      <!-- <form action="/selection" method= "POST"> -->
      <label for="caramello">Caramello</label>
      <button id="caramello" value="Caramello" name="item" type="button">001</button>
      <label for="cheetos">Cheetos</label>
      <button id="cheetos" value="Cheetos" name="item" type="button">002</button>
      <label for="snickers">Snickers</label>
      <button id="snickers" value="Snickers" name="item" type="button">003</button>
      <label for="bugles">Bugles</label>
      <button id="bugles" value="Bugles" name="item" type="button">004</button>
      <label for="oreos">Oreos</label>
      <button id="oreos" value="Oreos" name="item" type="button">005</button>
      <!-- </form> -->

    </div>
    <div class="col-sm-6">
      <h1>Admin Login</h1>
      <p>Login or Signup:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

  </div>

  <script type="text/javascript" src="main.js"></script>
</body>

</html>
